<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>

    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container">
      <input
        #peopleInput
        type="text"
        (input)="onInput(peopleInput.value)"
        [value]="newMemberText"
        placeholder="Name"
      />
      <button (click)="onClick()">Add</button>
    </div>

    <div class="input-container">
      <input
        #teamSizeInput
        type="number"
        placeholder="# of teams"
        [value]="numberOfTeams"
        (input)="onTeamSizeInput(teamSizeInput.value)"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>

  
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

